@import url("reset.css");

body {
	background: #444;
	font: 13px/22px Helvetica, Arial, sans-serif;
}

/* #header
==========================================================*/
#header { padding: 19px 0 0; }
	#navigation {}
		#navigation > ul > li { padding-bottom: 17px; }
			#navigation > ul > li > a {
				font-size: 14px;
				padding: 6px 8px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			#navigation li ul {
				margin-top: -2px;
				padding: 7px 0;
				white-space: nowrap;
				z-index: 1111;
				-webkit-border-radius: 5px;
				-webkit-border-top-left-radius: 0;
				-moz-border-radius: 5px;
				-moz-border-radius-topleft: 0;
				border-radius: 5px;
				border-top-left-radius: 0;
			}
				#navigation li ul a {
					color: #c1e4f6;
					line-height: 18px;
					padding: 0 15px 0 9px;
				}

			#navigation ul ul,
			#navigation > ul > li:hover > a { background: #62a6c9; }

		#navigation > ul > li.current-menu-item { background: url("../images/navigation/current-item.png"); }

/* #content
==========================================================*/
#content { padding: 50px 0; }

	/* .home
	==========================================================*/
	.home {}
		.home h2 {}
			.home h2 span {
				padding: 0 30px;
				top: -9px;
			}

		.home .section { padding: 35px 0 50px; }
			.home .logo { padding: 71px 0 90px; }

/* #footer
==========================================================*/
#footer { padding: 20px 0; }
	#footer span + span { margin-left: 8px; }

/* ~
==========================================================*/
body,
#content .tags-list a,
#content .pagination a:hover,
#navigation > ul > li > a { color: #888; }

.home .blog { color: #999; }

.message h2,
.home .about h3 { color: #333; }

.post-header h2,
#content .post-header h2 a,
.text h2, #content .text h2 a,
.text h3, #content .text h3 a { color: #444; }

#content a,
#content .post-header h2 a:hover,
#content .tags-list a:hover,
#content .tags-list .current-menu-item a,
#content .text a:hover { color: #61a5c9; }

#footer a,
#content .badge,
#navigation li li a:hover,
#navigation > ul > li:hover > a { color: #fff; }

.tags-list .current-menu-item .posts,
a:hover .badge,
.badge:hover { background: #62a6c9; }

#content,
.pagination .page,
.home h2 span,
.back-to-top span,
.post-footer .meta,
.work .gallery .nivo-controlNav { background: #fff; }

div#container {
    position:relative; /* needed for footer positioning*/
    margin:0 auto; /* center, not in IE5 */
    width:750px;
    background:#FFF;

    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/

    min-height:100%; /* real browsers */

    /* Add a nice border shadow */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border: 0;
    outline: 0;
    font-size: 100%;
}

.thumb,
.home .tweet,
.text h2.with-icon,
.text h3.with-icon,
.work .gallery,
#navigation > ul > li.current-menu-item {
	background-position: 50% 100%;
	background-repeat: no-repeat;
}

.home h2,
.pagination,
.back-to-top { border-top: 1px dashed #ddd; }

.thumb .thumb-inner,
.work .gallery-inner {
	border: 1px solid #dadada;
	padding: 9px;
}

.tags-list a,
.home .tweet .follow,
#navigation li:hover ul,
#navigation li ul a,
.back-to-top, .back-to-top a,
.pagination a,
.work .gallery .nivo-controlNav .nivo-control { display: block; }

hr,
#navigation li ul { display: none; }

.work .gallery,
#navigation,
#navigation > ul > li,
.columns .sidebar,
.columns .main,
.home .works-list li,
.home .more .text,
.home .blog .latest-posts,
.home .blog .tweet,
.message h2,
.post-body .thumb,
.post-footer .meta,
.post .meta li,
.pagination .prev,
.home .blog .latest-posts .post,
.work .gallery .nivo-controlNav .nivo-control { float: left; }

.pagination .next,
.work .description,
.message .ui-button,
.post-footer .back-to-top a,
#header .search { float: right; }

.home .blog .post h3,
.post-body .excerpt { font-size: 18px; }

.text h2,
.text h3,
.home .about p {
	font-size: 24px;
	line-height: 36px;
}

.post-header h2,
.home .about h3 {
	font-size: 48px;
	line-height: 50px;
}

.badge,
.home .blog .meta,
.home .tweet .follow,
#navigation li ul a { font-size: 11px; }

.text h2,
.text h3,
.message h2,
.badge,
.post-header h2,
.home .more .continue,
.home .about h3,
#navigation > ul > li > a { font-weight: bold; }

.home .works-list,
.home .more,
.work .gallery .photos,
.home .blog,
.message,
.work .gallery .nivo-controlNav { overflow: hidden; }

#navigation li ul,
.tags-list .posts,
.nivo-controlNav,
.post-footer .meta,
.tags-list li { position: absolute; }

.tags-list li,
.home h2 span,
.post-footer,
.pagination .page,
#content .back-to-top span,
.work .gallery .photos,
#navigation > ul > li { position: relative; }

#footer,
.home h2,
.home .logo,
.home .about { text-align: center; }

#content .badge:hover,
#content .tags-list a:hover,
#content .text h2 a:hover,
#content .text h3 a:hover,
#content .post-header h2 a:hover,
#content .pagination a:hover,
#content a.back-to-top:hover,
#content .back-to-top a:hover { text-decoration: none; }

#footer a:hover,
#content a:hover { text-decoration: underline; }

.home h2,
#content .pagination .page,
#content .pagination a,
#content .back-to-top,
#content .back-to-top a {
	color: #bbb;
	font-size: 9px;
	text-transform: uppercase;
}

#header > .inner,
#content > .inner,
#footer > .inner {
	margin: 0 auto;
	width: 940px;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after { clear: both; }
