            <div class="footer">
                <p>&copy; 2013 The Tanglu Contributors</p>
                <a href="http://debian.org">
                    <img src="[% c.uri_for('/.static/images/debian-powered.gif') %]" alt="Debian Powered" />
                </a>
            </div>

        </div>
    </body>
</html>