[% PROCESS header.tt2 index_page=index_page +%]
            
            <div id="content" class="home">
                <span class="message"><strong>[% status_msg || c.request.params.status_msg | html %]</strong></span>
                <span class="error"><strong>[% error_msg %]</strong></span>
                [% content %]
            </div>
            
            <hr />
            
[% PROCESS footer.tt2 index_page=index_page +%]
